.header
	width: 100%
	top: 0px

.container
	margin: auto
	width: 70%
	height: 50px
	margin-top: 18px
	text-transform: none
	letter-spacing: 1px
	+r(600)
		width: 90%

.menu
	width: 100%

.logo
	display: inline-block
	vertical-align: middle

.nav
	margin-right: 0
	width: 89%
	display: inline-block
	vertical-align: middle
	font-family: 'bebas_neueregular', sans-serif
	+r(1100)
		width: 80%
	+r(600)
		width: 60%
		margin-left: 20px
	+r(700)
		width: 70%

.nav__list
	float: right

.list
	display: inline-block

.link
	font-size: 1.25em
	padding-left: 20px
	text-decoration: none
	text-transform: uppercase
	color: #b9b9b9
	&:hover
		text-decoration: none
		color: #e8603c
		&:active
			color: #e8603c
	+r(600)
		font-size: 1em

.link__post
	font-family: 'Helvetica', sans-serif
	font-size: 0.75em
	text-decoration: none
	color: #b9b9b9
	&:hover
		color: #e8603c
		&:active
			color: #e8603c

.link_small
	font-family: 'Helvetica', sans-serif
	font-size: 0.75em
	text-transform: none
	padding-left: 0

//End header

// CONTENT
.title
	width: 100%
	margin-top: 10px
	top: 0px
	display: inline-block

.title_width
	width: 70%
	height: 60px
	margin: auto
	padding-top: 10px
	background-color: #e8603c
	+r(600)
		width: 100%

.h3
	font-family: 'bebas_neueregular', sans-serif
	font-size: 1.75em
	color: white
	letter-spacing: 1px

.h3_indent
	padding-left: 25px

.h3_orange
	color: #e8603c

.h3_inline
	display: inline-block

.back__left
	width: 14%
	float: left
	height: 60px
	background-color: #f3af9d
	display: inline-block
	+r(600)
		display: none

.back__right
	width: 14%
	float: right
	height: 60px
	background-color: #f3af9d
	display: inline-block
	+r(600)
		display: none

//Sidebar
.sidebar
	font-family: 'Helvetica', sans-serif
	margin-top: 40px
	width: 23%
	float: right

.js-sidebar
	margin-top: 40px
	width: 23%
	float: right

.h4
	font-family: 'bebas_neueregular', sans-serif
	color: white
	letter-spacing: 1px

.h4_orange
	color: #e8603c

.h4_inline
	display: inline-block

.sidebar__section
	width: 100%

.section
	text-align: left
	margin-top: 10px

.side
	width: 100%
	display: inline-block

.side__separator
	display: inline-block
	height: 15px
	width: 55%
	float: right
	background-image: url(/img/backg.png) 
	background-repeat: repeat-y repeat-x
	+r(1100)
		width: 30%
	+r(800)
		display: none

.about
	font-size: 0.75em

.block_indent
	margin-top: 10px
	margin-bottom: 50px
	line-height: 1.2

.categories__link
	text-decoration: none
	color: #000
	font-size: 0.75em
	&:hover
		color: #e8603c

.block_height
	line-height: 1

.photo
	display: inline-block
	width: 50px
	height: 50px
	background-color: #f3af9d
	margin-top: 5px


.photo__img
	width: 50px 
	height: 50px

.js-photo
	width: 50px 
	height: 50px
	cursor: pointer

.js-photo-change
	z-index: 99999
	position: relative
	width: 450%
	cursor: pointer
//End sidebar

// Blog

.blog
	margin-top: 50px
	width: 77%

.post
	width: 93%
	+r(600)
		width: 95%
		margin-left: auto

.icon
	height: 75px
	vertical-align: top
	margin-left: -90px
	float: left

.icon__img
	width: 75px
	height: 75px
	+r(600)
		display: none

.slider
	display: inline-block
	vertical-align: top
	+r(600)
		width: 95%

.slick-prev,
.slick-next 
	position: absolute
	display: block
	width: 36px
	height: 52px
	line-height: 0px
	font-size: 0px
	cursor: pointer
	top: 50%
	-webkit-transform: translate(0, -50%)
	-ms-transform: translate(0, -50%)
	transform: translate(0, -50%)
	padding: 0
	border: none
	outline: none
	&:hover, &:focus 
		opacity: 0.5


.slick-prev 
	left: 25px
	z-index: 99999
	background-image: url(/img/arr/prev.png)

.slick-next 
	right: 25px
	z-index: 99999
	background-image: url(/img/arr/next.png)

.slider__img
	width: 100%


.icon_svg
	width: 25px
	height: 25px
	fill: #e8603c

.descript__info
	width: 20%
	float: left
	+r(600)
		display: none

.h6
	font-family: 'bebas_neueregular', sans-serif
	font-size: 1em
	text-transform: uppercase

.h6_color
	color: #e8603c

.descript__text
	width: 80%
	margin-left: 22%
	+r(600)
		width: 95%
		margin-left: 0

.descript__text p
	font-size: 0.75em
	margin-top: 15px
	text-align: left
	font-family: 'Helvetica', sans-serif
	font-style: normal

.h3_orange
	color: #e8603c

.h3_inline
	display: inline-block

.h3_size
	font-size: 1.25em

.separator
	margin-top: 7%
	margin-bottom: 7%
	height: 15px
	width: 97%
	background-image: url(/img/backg.png) 
	background-repeat: repeat-y repeat-x


.post__descript
	vertical-align: top
	margin-top: 20px

.post__descript p 
	font-family: 'Helvetica', sans-serif
	font-size: 0.75em
	width: 90%
	display: inline-block
	line-height: 1.5

.post_indent 
	margin-top: 0px

.post_style
	font-style: italic

.post_color
	background-color: #f5f5f5
	padding: 20px 0px 30px 30px
	margin-right: 20px

.icon_orange
	vertical-align: top
	display: inline-block
	fill: #e8603c

.page__list	
	display: inline

.page_number
	display: inline-block
	margin-bottom: 5%

.number
	font-family: 'bebas_neueregular', sans-serif
	color: #fff
	text-decoration: none
	padding: 5px 10px 5px 10px
	border: solid 1px #f3b29d
	background-color: #f3b29d
	&:hover
		border: solid 1px #e8663c
		background-color: #e8663c
	&:active
		border: solid 1px #e8663c
		background-color: #e8663c