<div class="blog">	

<!--Post 1 START!-->		
		<div class="post js-post">

			<div class="icon"><img class="icon__img" src="img/icon1.png"></div>
			
			<div class="slider js-slider">
				<div><img class="slider__img" src="img/slider/1.png" alt=""></div>
				<div><img class="slider__img" src="img/slider/2.png" alt=""></div>
				<div><img class="slider__img" src="img/slider/3.png" alt=""></div>

			</div>	
				
			<div class="post__descript">
				
				<div class="descript__info">
					<div class="info__date">
						<h6 class="h6 h6_color">Date</h6>
						<a class="link link_small">September, 27 2017</a>
					</div>
				
					<div class="info__tags">
						<h6 class="h6 h6_color">Tags</h6>
						<a class="link link_small">Website</a>
						<a class="link link_small">Design</a>
					</div>
					
					<div class="info__comments">
						<h6 class="h6 h6_color">Comments</h6>
						<a class="link link_small">4</a>
					</div>

				</div>
			
				<div class="descript__text">
					<h3 class="h3 h3_orange h3_size">Top  WordPress  Themes  of  2012</h3>
					<p>Lorem ipsum dolor sit amet, sit an molestie neglegentur concludaturque. Possim hendrerit in usu. Iriure delectus mea at, vis dicit laudem ex, vel eu possim imperdiet consequuntur. Brute ipsum tincidunt vim ei. Ne eos vidisse splendide instructior. Mei no latine praesent forensibus, te sed habemus tacimates, ad ipsum officiis constituto usu.
					</p>
					<p>Maecenas ipsum metus, semper hendrerit varius mattis, congue sit amet tellus. Aliquam ullamcorper dui sed magna posuere ut elementum enim rutrum. Nam mi erat, porta id ultrices nec, pellentesque vel nunc. Cras varius fermentum iaculis. 
					</p>
				</div>
			</div>
			<div class="separator"></div>
		</div>
<!--Post 1 End!-->	

<!--Post 2 START!-->
		<div class="post js-post">

			<div class="icon"><img class="icon__img" src="img/icon2.png"></div>
			
			<div class="slider">
				<div><img class="slider__img" src="img/4.png" alt=""></div>
			</div>	
				
			<div class="post__descript">
				
				<div class="descript__info">
					<div class="info__date">
						<h6 class="h6 h6_color">Date</h6>
						<a class="link link_small">September, 27 2017</a>
					</div>
				
					<div class="info__tags">
						<h6 class="h6 h6_color">Tags</h6>
						<a class="link link_small">Website</a>
						<a class="link link_small">Design</a>
					</div>
					
					<div class="info__comments">
						<h6 class="h6 h6_color">Comments</h6>
						<a class="link link_small">4</a>
					</div>

				</div>
			
				<div class="descript__text">
					<h4 class="h3 h3_orange h3_size">Jesus  Typography  Wallpaper  Giveaway!</h3>
					<p>Lorem ipsum dolor sit amet, sit an molestie neglegentur concludaturque. Possim hendrerit in usu. Iriure delectus mea at, vis dicit laudem ex, vel eu possim imperdiet consequuntur. Brute ipsum tincidunt vim ei. Ne eos vidisse splendide instructior. Mei no latine praesent forensibus, te sed habemus tacimates, ad ipsum officiis constituto usu.
					</p>
					<p>Maecenas ipsum metus, semper hendrerit varius mattis, congue sit amet tellus. Aliquam ullamcorper dui sed magna posuere ut elementum enim rutrum. Nam mi erat, porta id ultrices nec, pellentesque vel nunc. Cras varius fermentum iaculis  
					</p>
				</div>
			</div>
			<div class="separator"></div>
		</div>		
<!--Post 2 End!-->	

<!--Post 3 START!-->
		<div class="post js-post">

			<div class="icon"><img class="icon__img" src="img/icon3.png"></div>
			
							
			<div class="post__descript post_indent post_color post_style">
					<div class="icon_orange"><img class="icon_svg" src="icons/left-quotes-sign.svg" style="width: 25px; height: 25px; fill: #e8603c;"></div>
					<p>Write anything you want here in this quotable area. Something unique you want people to learn 
					about your website or some cool random fact. Its totally up to you. Write anything you want 
					here in this quotable area. Something unique you want people to learn 
					about your website or some cool random fact. Its totally up to you.
					</p>

			</div>
			<div class="separator"></div>
		</div>	
<!--Post 3 End!-->	

<!--Post 4 START!-->
		<div class="post js-post">

			<div class="icon"><img class="icon__img" src="img/icon4.png"></div>
			
							
			<div class="post__descript post_indent">
				<h3 class="h3 h3_orange h3_size">Some  of  the  best  freebies  on  the  web</h3>
				<a class="link link_small">www.bestpsdfreebies.com</a>
				<p class="post__descript">Lorem ipsum dolor sit amet, sit an molestie neglegentur concludaturque. Possim hendrerit in usu. Iriure delectus mea at, vis dicit laudem ex, vel eu possim imperdiet consequuntur. Brute ipsum tincidunt vim ei.
					</p>

			</div>
			<div class="separator"></div>
		</div>
<!--Post 4 End!-->	

<!--Pages START!-->
		<div class="post js-post">
			<ul class="page__list">
				<li class="page_number"><a class="number" href="#">1</a></li>
				<li class="page_number"><a class="number" href="#">2</a></li>
				<li class="page_number"><a class="number" href="#">3</a></li>
			</ul>
		</div>
<!--Pages End!-->		
</div>