<div class="header">	
	<div class="container">
		<div class="menu">
			<div class="logo"><a class="logo" href="page.html"><img class="logo__img" src="img/logo.png"></a></div>
			
			<div class="nav">
				<ul class="nav__list">
					<li class="list"><a class="link" href="page.html">Home</a></li>
					<li class="list"><a class="link" href="#">About us</a></li>
					<li class="list"><a class="link" href="#">Blog</a></li>
					<li class="list"><a class="link" href="#">Potfolio</a></li>
					<li class="list"><a class="link" href="#textcontact">Contact us</a></li>
				</ul>
			</div>	
		</div>
	</div>
		

</div>